{% extends "base.html" %}
{% block body %}
<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item active" href="#">Home</a>
      <a class="blog-nav-item" href="#">About</a>
    </nav>
  </div>
</div>
<div class="container">
  <div class="blog-header">
    <h1 class="blog-title">Imagineer Blog</h1>
    <p class="lead blog-description">The First Blog Created by Imagineer</P>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="blog-post">
        {% for article in article_list %}
        <h2 class="blog-post-title">{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidbar">
      <div class="sidebar-module">
        <h4>HashTags</h4>
        <ol class="list-unstyled">
          {% for hashtag in hashtag_list %}
          <li>#{{ hashtag }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="sidebar-module"></div>
    </div>
  </div>
</div>

{% endblock %}
